[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
migrate = "*"
flask-migrate = "*"
flask-login = "*"
flask-sqlalchemy = "*"
freeze = "*"
pymysql = "*"

[dev-packages]

[requires]
python_version = "3.8"
