{% extends 'base.html' %}
{% block body %}

<div class="hero-full-wrapper">
  <div class="grid">
  <div class="gutter-sizer"></div>
    <div class="grid-sizer"></div>
    
    <div class="grid-item">
      <img class="img-responsive" alt="" src="{{ url_for('static', filename='assets/images/img-01.jpeg') }}">
      <a href="" class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h3>Rio longá</h3>
            <p class="pl-3 pr-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni ea nihil est iusto culpa saepe quibusdam perspiciatis mollitia. Ab unde incidunt, consequuntur quidem deserunt expedita aperiam iusto cumque ut eaque.</p>
          </div>
        </div>
      </a>
    </div>
    
    <div class="grid-item">
      <img class="img-responsive" alt="" src="{{ url_for('static', filename='assets/images/img-06.jpeg') }}">
      <a href="./project.html" class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h3>Vivamus vestibulum</h3>
            <p>Discover more</p>
          </div>
        </div>
      </a>
    </div>

    <div class="grid-item">
      <img class="img-responsive" alt="" src="{{ url_for('static', filename='assets/images/img-02.jpeg') }}">
      <a href="./project.html" class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h3>Vivamus vestibulum</h3>
            <p>Discover more</p>
          </div>
        </div>
      </a>
    </div>

    <div class="grid-item">
      <img class="img-responsive" alt="" src="{{ url_for('static', filename='assets/images/img-03.jpeg') }}">
      <a href="./project.html" class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h3>Vivamus vestibulum</h3>
            <p>Discover more</p>
          </div>
        </div>
      </a>
    </div>
    
    <div class="grid-item">
      <img class="img-responsive" alt="" src="{{ url_for('static', filename='assets/images/img-07.jpeg') }}">
      <a href="./project.html" class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h3>Vivamus vestibulum</h3>
            <p>Discover more</p>
          </div>
        </div>
      </a>
    </div>

    <div class="grid-item">
      <img class="img-responsive" alt="" src="{{ url_for('static', filename='assets/images/img-05.jpeg') }}">
      <a href="./project.html" class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h3>Vivamus vestibulum</h3>
            <p>Discover more</p>
          </div>
        </div>
      </a>
    </div>

    <div class="grid-item">
      <img class="img-responsive" alt="" src="{{ url_for('static', filename='assets/images/img-01.jpeg') }}">
      <a href="./project.html" class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h3>Vivamus vestibulum</h3>
            <p>Discover more</p>
          </div>
        </div>
      </a>
    </div>

    <div class="grid-item">
      <img class="img-responsive" alt="" src="{{ url_for('static', filename='assets/images/img-02.jpeg') }}">
      <a href="./project.html" class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h3>Vivamus vestibulum</h3>
            <p>Discover more</p>
          </div>
        </div>
      </a>
    </div>
    
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     masonryBuild();
  });
</script>

{% endblock body %}