{% extends 'base.html' %}
{% block body %}

<div class="hero-full-wrapper">
  <div class="grid">
    <div class="gutter-sizer"></div>
    <div class="grid-sizer"></div>
    
    <div class="grid-item">
      <div class="glider-contain">
        <div class="glider">
          <div><img class="img-responsive" alt="" src="{{ url_for('static', filename='assets/images/img-03.jpeg') }}"></div>
          <div><img class="img-responsive" alt="" src="{{ url_for('static', filename='assets/images/img-03.jpeg') }}"></div>
          <div><img class="img-responsive" alt="" src="{{ url_for('static', filename='assets/images/img-03.jpeg') }}"></div>
        </div>
        <div class="floating-circle">
          <div role="tablist" class="dots"></div>
        </div>
      </div>
    </div>

    <div class="grid-item">
      <div class="glider-contain">
        <div class="glider">
          <div><img class="img-responsive" alt="" src="{{ url_for('static', filename='assets/images/img-06.jpeg') }}"></div>
          <div><img class="img-responsive" alt="" src="{{ url_for('static', filename='assets/images/img-06.jpeg') }}"></div>
          <div><img class="img-responsive" alt="" src="{{ url_for('static', filename='assets/images/img-06.jpeg') }}"></div>
        </div>
        <div class="floating-circle">
          <div role="tablist" class="dots"></div>
        </div>
      </div>
    </div>

    <div class="grid-item">
      <div class="glider-contain">
        <div class="glider">
          <div><img class="img-responsive" alt="" src="{{ url_for('static', filename='assets/images/img-02.jpeg') }}"></div>
          <div><img class="img-responsive" alt="" src="{{ url_for('static', filename='assets/images/img-02.jpeg') }}"></div>
          <div><img class="img-responsive" alt="" src="{{ url_for('static', filename='assets/images/img-02.jpeg') }}"></div>
        </div>
        <div class="floating-circle">
          <div role="tablist" class="dots"></div>
        </div>
      </div>
    </div>

    <div class="grid-item">
      <div class="glider-contain">
        <div class="glider">
          <div><img class="img-responsive" alt="" src="{{ url_for('static', filename='assets/images/img-01.jpeg') }}"></div>
          <div><img class="img-responsive" alt="" src="{{ url_for('static', filename='assets/images/img-01.jpeg') }}"></div>
          <div><img class="img-responsive" alt="" src="{{ url_for('static', filename='assets/images/img-01.jpeg') }}"></div>
        </div>
        <div class="floating-circle">
          <div role="tablist" class="dots"></div>
        </div>
      </div>
    </div>

    <div class="grid-item">
      <div class="glider-contain">
        <div class="glider">
          <div><img class="img-responsive" alt="" src="{{ url_for('static', filename='assets/images/img-05.jpeg') }}"></div>
          <div><img class="img-responsive" alt="" src="{{ url_for('static', filename='assets/images/img-05.jpeg') }}"></div>
          <div><img class="img-responsive" alt="" src="{{ url_for('static', filename='assets/images/img-05.jpeg') }}"></div>
        </div>
        <div class="floating-circle">
          <div role="tablist" class="dots"></div>
        </div>
      </div>
    </div>

    <div class="grid-item">
      <div class="glider-contain">
        <div class="glider">
          <div><img class="img-responsive" alt="" src="{{ url_for('static', filename='assets/images/img-04.jpeg') }}"></div>
          <div><img class="img-responsive" alt="" src="{{ url_for('static', filename='assets/images/img-04.jpeg') }}"></div>
          <div><img class="img-responsive" alt="" src="{{ url_for('static', filename='assets/images/img-04.jpeg') }}"></div>
        </div>
        <div class="floating-circle">
          <div role="tablist" class="dots"></div>
        </div>
      </div>
    </div>

    <div class="grid-item">
      <div class="glider-contain">
        <div class="glider">
          <div><img class="img-responsive" alt="" src="{{ url_for('static', filename='assets/images/img-02.jpeg') }}"></div>
          <div><img class="img-responsive" alt="" src="{{ url_for('static', filename='assets/images/img-02.jpeg') }}"></div>
          <div><img class="img-responsive" alt="" src="{{ url_for('static', filename='assets/images/img-02.jpeg') }}"></div>
        </div>
        <div class="floating-circle">
          <div role="tablist" class="dots"></div>
        </div>
      </div>
    </div>

    <div class="grid-item">
      <div class="glider-contain">
        <div class="glider">
          <div><img class="img-responsive" alt="" src="{{ url_for('static', filename='assets/images/img-01.jpeg') }}"></div>
          <div><img class="img-responsive" alt="" src="{{ url_for('static', filename='assets/images/img-01.jpeg') }}"></div>
          <div><img class="img-responsive" alt="" src="{{ url_for('static', filename='assets/images/img-01.jpeg') }}"></div>
        </div>
        <div class="floating-circle">
          <div role="tablist" class="dots"></div>
        </div>
      </div>
    </div>
    
  </div>
</div>

<!-- Framework carousel Glider -->
<script type="text/javascript" src="{{ url_for('static', filename='js/glider/glider.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/glider.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/grid-for-theme.js') }}"></script>

{% endblock body %}